*{
    box-sizing: border-box;
}

body{
    margin: 0; 
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    font-family:  sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    /* max-width: 1920px; */
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}

textarea {outline: none;}

input {outline:none;}

/* header */



/* body */

.body{
    display: flex;
    /* justify-content: space-around; */
    justify-self: center;
    /* min-height: 100vh; */
    height: auto;
    /* height: 100%; */
    min-height: 100%;

}

.body__container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* min-height: 100vh; */
}

.news{
    min-width: 640px;
    max-width: 640px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-right: 20px;
}

.rightsitebar{
    width: 250px;
}

.rightsitebar__container{
    position: sticky;
    top: 131px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.22), 0 0 10px rgba(0,0,0,0.22);
}

.rightsitebar__title_and_list{
    padding-top: 10px;
}

.rightsitebar__list{
    border-radius: 12px;
}

.rightsitebar__list_item{
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    height: 40px;
    transform: scale(1);
    transition: all 0.2s;
}

.rightsitebar__title{
    margin-top: 0;
    margin-left: 10px;
}

.rightsitebar__list_item:hover{
    transform: scale(1.05);
}

.rightsitebar__link_top_cont{
    display: block;
    margin-top: 370px;
    position: sticky;
    top: 96%;
}

.rightsitebar__title{
    padding-top: 15px;
}

.news__add_btn{
    width: 250px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 20px;
    height: 55px;
    position: relative;
    border-radius: 12px;
}
.news__add_post_ava{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    border-radius: 50%;
}

.btn__text{
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.forinput_or_textarea{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    resize: none;
    overflow : auto;
    border-radius: 12px;
    font-size: 20px;
}

.forinput_or_textarea:focus{
    outline-width: 0;
}

/* .forinput_or_textarea:hover{
  
} */

/* :focus:-moz-placeholder {
    color: transparent
  } */

.btn-default{
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 12px;
}

.my_pad{
    margin-top: 10px;
    border-radius: 12px;
}

.div_btn{
    justify-content: flex-end;
    display: flex;
}

.news__post_ava{
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 55px;
    height: 55px;
    border: 2px solid black;
    border-radius: 50%;
}

.news__post{
    margin-top: 20px;
    border-radius: 12px;
}

.news__post_blok{
    display: flex;
}

.news__post_gryp_name{
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.news__post_gryp_time{
    font-size: 16px;
    padding-top: 10px;
    margin-left: 10px;
}

.news__post_flex{
    display: flex;
}

.news__post_p{
    margin: 10px;
}

.news__post_lkr,
.news__post_l,
.news__post_k,
.news__post_r{
    display: flex;
}

.news__post_l_svg{
    background-image: url('/img/Creative_commons_25px_version.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
}

.news__post_l_all,
.news__post_l_my,
.news__post_l_vrag,
.news__post_k_all,
.news__post_k_my,
.news__post_k_vrag,
.news__post_r_all,
.news__post_r_my,
.news__post_r_vrag{
    margin-top: 5px;
}

.news__post_l_all,
.news__post_l_my,
.news__post_k_all,
.news__post_k_my,
.news__post_r_all,
.news__post_r_my{
    margin-right: 5px;
}

.news__post_l_vrag,
.news__post_k_vrag,
.news__post_r_vrag{
    margin-right: 20px;
}

.news__post_k_img{
    background-color: transparent;
    width: 40px;
    border: transparent;
    cursor: pointer;
    margin-left: 280px;
}


.news__post_k_svg{
    background-image: url('/img/Creative_commons_25px_version.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    /* margin-left: 300px; */
}

.news__post_r_svg{
    background-image: url('/img/Creative_commons_25px_version.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
/* .news__post_l_img > li:hover > ul.news__post_l_list{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
} */

.news__post_l_list{
    position: absolute;
    transform: translate(-30px, -80px);
    width: 15%;
    /* top: 30px;  */
    /* left: 0; */
    padding: 5px;
    color: white;
    /* background-color: black; */
    background: rgba(0, 0, 0, 0.85);
    list-style: none;
    /* padding: 0;*/
    margin-top: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
    border-radius: 5px;
}

.news__post_l_img:hover .news__post_l_list{
    display: initial;
}
